*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 20% 60%;
  border: 2px solid black;
  height: 100vh;
}

.title{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #38bdf8;
}

.title h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.divider {
  width: 90%;
  border: 1px solid black;
}

.stats {
  grid-column: span 1;
  background-color: #38bdf8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.stats .stats-pane{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: x-large;
  gap: 20px;
}

.add{
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38bdf8;
}

.add button {
  width: 50%;
  height: 40%;
  border-radius: 20px;
  border: none;
  background-color: #075985;
  color: white;
  font-size: xx-large;
}

.add button:active {
  background-color: red;
}

.book-list {
  grid-column: span 2;
  background-color: #38bdf8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5%, 20%));
  gap: 20px;
  padding-top: 20px;
  padding-left: 10%;
  overflow-y: scroll;
}

.book-card {
  width: 300px;
  height: 200px;
  background-color: #075985;
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.book-card h3{
  margin-top: 10px;

}

.book-card button {
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #7dd3fc;
}

.book-card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggle-read {
  width: 100px;
}

.delete-button {
  width: 50px;
}

.form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form{
  width: 500px;
  height: 500px;
  background-color: #7dd3fc;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form .form-item input{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background-color: #075985;
  color: white;
}

.form .form-item input:focus {
  outline: none;
}

.form button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #075985;
  color: white;
}

.radio  input{
  width: 20px;
  height: 20px;
}

.read {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}