*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 20% 60%;
  border: 2px solid black;
  height: 100vh;
}

.title{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #38bdf8;
}

.title h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.divider {
  width: 90%;
  border: 1px solid black;
}

.stats {
  grid-column: span 1;
  background-color: #38bdf8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.stats .stats-pane{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: x-large;
}

.add{
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38bdf8;
}

.add button {
  width: 50%;
  height: 40%;
  border-radius: 20px;
  border: none;
  background-color: #075985;
  color: white;
  font-size: xx-large;
}

.book-list {
  grid-column: span 2;
  border: 2px solid purple;
}